* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}


@font-face {
  font-family: 'mulishbold';
  src: url('../public/fonts/mulish-bold-webfont.woff2') format('woff2'),
    url('../public/fonts/mulish-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mulishregular';
  src: url('../public/fonts/mulish-regular-webfont.woff2') format('woff2'),
    url('../public/fonts/mulish-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mulishsemibold';
  src: url('../public/fonts/mulish-semibold-webfont.woff2') format('woff2'),
    url('../public/fonts/mulish-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



.mulishbold {
  font-family: "mulishbold";
}

.mulishregular {
  font-family: "mulishregular";
}

.mulishsemibold {
  font-family: "mulishsemibold";
}

.invert_color {
  filter: brightness(0) invert(1);
}

html {
  scroll-behavior: smooth;
}

.scroll-margin-top {
  scroll-margin-top: 72px;
}
.z_49{
  z-index: 45 !important;

}

.z_2{
  z-index: 2 !important;
}

.custom_width {
  width: 88%;
  margin: 0 auto;
  max-width: 1300px;
}

@keyframes whyHexnode_hexnodeAnimationWrap__zQlMr {
  0% {
    stroke-dashoffset: 0px;
  }

  100% {
    stroke-dashoffset: -3500;
  }
}

.whyHexnode_hexnodeAnimationWrap__zQlMr .line-animation {
  /* width: 100%; */
}

.line-animation {
  /* stroke-dashoffset: 7;  */
  animation: whyHexnode_hexnodeAnimationWrap__zQlMr 2s linear infinite;
  /* Apply the animation */
}

.no-scroll {
  overflow: hidden;
}
.error-message {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.error-message.visible {
  opacity: 1;
}