* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}


@font-face {
  font-family: 'mulishbold';
  src: url('../public/fonts/mulish-bold-webfont.woff2') format('woff2'),
    url('../public/fonts/mulish-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mulishregular';
  src: url('../public/fonts/mulish-regular-webfont.woff2') format('woff2'),
    url('../public/fonts/mulish-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mulishsemibold';
  src: url('../public/fonts/mulish-semibold-webfont.woff2') format('woff2'),
    url('../public/fonts/mulish-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



.mulishbold {
  font-family: "mulishbold";
}

.mulishregular {
  font-family: "mulishregular";
}

.mulishsemibold {
  font-family: "mulishsemibold";
}

.invert_color {
  filter: brightness(0) invert(1);
}

html {
  scroll-behavior: smooth;
}

.scroll-margin-top {
  scroll-margin-top: 74px;
}
.z_49{
  z-index: 45 !important;

}

.z_2{
  z-index: 2 !important;
}

.custom_width {
  width: 88%;
  margin: 0 auto;
  max-width: 1300px;
}

@keyframes whyHexnode_hexnodeAnimationWrap__zQlMr {
  0% {
    stroke-dashoffset: 0px;
  }

  100% {
    stroke-dashoffset: -3500;
  }
}

.whyHexnode_hexnodeAnimationWrap__zQlMr .line-animation {
  /* width: 100%; */
}

.line-animation {
  /* stroke-dashoffset: 7;  */
  animation: whyHexnode_hexnodeAnimationWrap__zQlMr 2s linear infinite;
  /* Apply the animation */
}

.no-scroll {
  overflow: hidden;
}
.error-message {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.error-message.visible {
  opacity: 1;
}
.pulsingButton {
  width: 194px;
  text-align: center;
  white-space: nowrap;
  display: block;
  margin-top: 20px;
  padding: 12px;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  border-radius: 10px;
  background-color: #FF0000;
  -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 0.5);
  -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 0.5);
  -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 0.5);
  animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 0.5);
  font-size: 18px;
  font-weight: normal;
font-family: "mulishregular";
  text-decoration: none !important;
  color: #ffffff;
  transition: all 300ms ease-in-out;
}

@media (max-width: 786px) {
  .pulsingButton {
    width: 150px; /* Reduced width for smaller screens */
    padding: 8px; /* Reduced padding for smaller screens */
    font-size: 16px; /* Reduced font size for smaller screens */
  }
}

/* Comment-out to have the button continue to pulse on mouseover */

a.pulsingButton:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
  color: #ffffff;
}


/* Animation */

@keyframes pulsing {
  0% {
    box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  }
  50% {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0); /* Adjust the 15px value */
  }
  100% {
    box-shadow: 0 0 0 0 rgba(232, 76, 61, 0);
  }
}

.hover-bg-left-to-right {
 
}

.hover-bg-left-to-right::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #ffffff; /* Set the hover background color */
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
/* Ensures rounded corners match parent */
}

.hover-bg-left-to-right:hover::before {
  transform: scaleX(1);
  border-radius: inherit;
}

.hover-bg-left-to-right > * {
  z-index: 1; /* Ensure content appears above the background overlay */
}