* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  display: block;
  width: 100%;
}

@font-face {
  font-family: 'mulishbold';
  src: url('../public/fonts/mulish-bold-webfont.woff2') format('woff2'),
       url('../public/fonts/mulish-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mulishregular';
  src: url('../public/fonts/mulish-regular-webfont.woff2') format('woff2'),
       url('../public/fonts/mulish-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mulishsemibold';
  src: url('../public/fonts/mulish-semibold-webfont.woff2') format('woff2'),
       url('../public/fonts/mulish-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



.mulishbold{
  font-family: "mulishbold" ;
}

.mulishregular{
  font-family: "mulishregular" ;
}
.mulishsemibold{
  font-family: "mulishsemibold" ;
}

.invert_color {
  filter: brightness(0) invert(1);
}
html {
  scroll-behavior: smooth;
}
.custom_width{
  width: 88%;
  margin: 0 auto;
  max-width: 1300px;
}